body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.center {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: rgb(250, 246, 246);
}

.Donation-Button {
    text-decoration: none;
    background-color: tomato;
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.banner {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    margin: 0p;
    height: 750px;
    width: 100%;
    background-size: cover;
}

.greetings {
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-bottom: 0px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.amount {
    background-color: rgb(226, 215, 215);
    color: rgb(17, 6, 6);
    display: flex;
    font-size: 30px;
    height: 100px;
    text-align: center;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 10px;
}

#amount {
    background-color: rgb(240, 226, 226);
    color: rgb(180, 23, 23);
    display: flex;
    font-size: 30px;
    height: 100px;
    text-align: center;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 10px;
    border: 2px solid red;
}

.italic {
    font-style: ;
}

.help {
    width: 30%;
    background-color: rgb(205, 190, 201);
    margin-right: 20px;
    margin-left: 50px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.donate-help {
    display: flex;
}

.donating {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.details-info {
    font-size: 20px;
    font-weight: 300;

}

.contact {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
    height: 1px;
    padding: 10%;
    background-color: rgb(244, 223, 197);
}

.press-button {
    background-color: tomato;
    color: white;
}

.another-option {
    border: none;
    border-bottom: 2px solid grey;
    font-size: 15px;
}

.other-amount {
    text-align: center;
    font-size: 20px;
}